.home, .movies{
	color: white;
}
.navbar-toggler-icon{
	color: white;
	background: gray;
}
.banner-text-area{
	width: 36%;
	display:flex;
	flex-direction:column;
	/* height: 100%; */
	padding:2rem;
}
.banner-text-area > *{
	z-index: 2;
}